* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #000;
  font-family: Segoe UI;
}

.title {
  color: greenyellow;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.desc {
  color: #fff;
  padding-bottom: 2rem;
}

.music-player {
  width: 400px;
  height: 550px;
  border-radius: 20px;
  background: #000;
  box-shadow: 0 20px 50px rgba(255, 255, 255, 0.8);
  padding: 30px;
  overflow: hidden;
  color: #fff;
  animation: pulse 5s linear infinite;
}

.lagu,
.artis {
  text-align: center;
  text-transform: capitalize;
}

.lagu {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: greenyellow;
}

.artis {
  font-size: 20px;
}

.disk {
  position: relative;
  display: block;
  margin: 40px auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: url("gambar/cover1.jpg");
  background-size: cover;
  box-shadow: 0 0 15px 5px greenyellow;
  animation: rotate 20s linear infinite;
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.disk.play {
  animation-play-state: running;
}

/* .disk::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
}
 */
.song-slider {
  width: 100%;
  position: relative;
}

.seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 20px;
  box-shadow: -400px 0 0 400px greenyellow;
}

.current-time,
.durasi {
  font-size: 14px;
}

.durasi {
  position: absolute;
  right: 0;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
  margin-top: 20px;
}

.btn img {
  width: 17px;
  height: 17px;
}

.play-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: none;
}

.play-btn span {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background: #000;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.play-btn span:nth-child(2) {
  left: 55%;
  transform-origin: center;
}

.play-btn.pause span:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1) {
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}

/* .play-btn.pause {
  animation: pulse 2s linear infinite;
} */

@keyframes pulse {
  0% {
    box-shadow: 0 10px 40px greenyellow;
  }

  25% {
    box-shadow: 0 10px 40px yellow;
  }

  50% {
    box-shadow: 0 10px 40px greenyellow;
  }

  75% {
    box-shadow: 0 10px 40px yellow;
  }

  100% {
    box-shadow: 0 10px 50px greenyellow;
  }
}

.btn {
  width: 40px;
  height: 40px;
  background: #eaeaea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
