* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 8%;
}
h1 {
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.gallery a {
  width: 300px;
}
.gallery img {
  width: 100%;
}
